.consoleWrapper {
  overflow: hidden;
  position: relative;
    float: left;
    width: 800px;
    height: 200px;
    background: black;
}

.console {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    right: 0;
    top: 0;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 2em;
    overflow: scroll;
}

#inputDiv {
  background: black;
  font-size: 2em;
  outline: none;
  color: white;
  height: 20%;
  font-family: "Courier New", Courier, monospace;
}

#submitButton {
  float: right;
  width: 20%;
  height: 20%;
}
